.smaller {font-size: 0.85em;}

.noDisplay {display:none;}

.explication {
  font-size: 9pt;
  font-style:italic;
}

.fleft {float:left;}
.fright {float:right;}
.left {text-align:left;}
.right{text-align:right;}
