.tag-editor {
  position:fixed;
  background-color:white;
  box-shadow: 10px 10px 10px black;
  border-radius: 1em;
  width: 300px;
  font-family: Arial, Helvetica;
}

.tag-editor div.title {
  background-color:black;
  color:white;
  padding:1em;
  margin-bottom:1em;
}
.tag-editor div.content {
  min-height: 100px;
  padding:1em;
}
.tag-editor div.buttons {
  padding: 1em;
  margin-top:0;
  text-align:right;
}
.tag-editor select.type {
  width:100%;
}
.tag-editor textarea.comment {
  width:100%;
  height: 2em;
}
