.tag {
  position:absolute;
  padding:5px 2px 5px 1px;
  width:calc(100% - 3px);
  cursor:pointer;
  z-index:1;
}

/* Quand on déplace le commentaire */
.tag.moving {
  cursor:move;
}

/* Quand on édite le commentaire */
.tag.edited {
  z-index: 10!important;
}

.tag span.mark-stylo {
  position:absolute;
  display:inline-block;
  margin-left: -30px;
  width:4px;
  height:20px;
}
.tag.pos span.mark-stylo {
  background-color:blue;
}
.tag.neg span.mark-stylo {
  background-color:red;
}

/* La poignée pour augmenter la hauteur du tag */
.tag span.height-handler {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:6px;
  background-color:rgba(198, 198, 198, 0.4);
  cursor:ns-resize;
}

.tag span.fixed {
  margin-right: 8px;
}
.tag span.intensity {
  float:right;
  color:rgb(255, 101, 101);
  font-weight:bold;
}

/*
    Types des commentaires
*/
.tag {
  border-style: solid none solid none;
  border-width: 1px 0 1px 0;
}
.tag.com {
  color:black;
  border-color:white;
}

.tag.ort /* faut d'orthographe */ {
  background-color:rgba(255, 204, 214, 1);
  color:red;
}

.tag.unc, /* manque de clarté */ {
  background-color:orange;
  color:white;
}

.tag.pos /* Commentaire positif */ {
  background-color:#CCCCFF;
  color:blue;
}

.tag.dro /* Commentaire sur drôle */ {
  background-color:#CCFFCC;
  background-image: '😄';
}

.tag.sty /* Commentaire problème de style */ {
  background-color: #FFCCCC;
  color:red;
}
