.tag {
  position:absolute;
  padding:5px 15px;
  width:100%;
}

.tag.unc, .tag.unclear {
  background-color:rgba(255, 204, 214, 1);
  color:red;
}

.tag.com {
  background-color:green;
  color:white;
}
