.tag {
  position:absolute;
  padding:5px 2px 5px 1px;
  width:calc(100% - 3px);
}


.tag span.fixed {
  margin-right: 8px;
}
.tag span.intensity {
  float:right;
  color:rgb(255, 101, 101);
  font-weight:bold;
}

/*
    Types des commentaires
*/

.tag.ort /* faut d'orthographe */
{
  background-color:rgba(255, 204, 214, 1);
  color:red;
}

.tag.unc, /* manque de clarté */
.tag.unclear
{
  background-color:orange;
  color:white;
}


.tag.com {
  background-color:rgb(0, 159, 0);
  color:white;
}
