section#tiroir-tools {
  position:fixed;
  top:0;
  height:2000px;
  width:400px;
  background-color:white;
  font-family:Geneva,Arial,Helvetica;
  /* padding-left:50px; /* pour la poignée */ */
  z-index:500;
}

section#tiroir-tools.opened {
  right: 0px;
  transition:1s;
}

section#tiroir-tools.closed {
  right:-360px;
  transition:1s;
}

/* POIGNÉE */
section#tiroir-tools .main-handler {
  position:absolute;
  width:40px;
  height:inherit;
  background-color:rgb(148, 153, 144);
}

/* TOUS LES CONTAINERS */
section#tiroir-tools > div.container {
  margin:10px 10px 10px 50px /* pour la poignée */;
  border:1px solid #CCCCCC;
  border-radius:0.5em;
  padding:1em;
}
section#tiroir-tools > div.container div.titre {
  font-size:1.4em;
  font-style:italic;
  margin-bottom:1em;
  color:#999;
}


section#tiroir-tools div.types-support {
}
section#tiroir-tools div.types-support select {
  /* width: 200px; */
}
section#tiroir-tools div.types-support span.label {
  display:inline-block;
  width: 84px;
}

section#tiroir-tools div#types-showed {
  -webkit-user-select:none;
}
section#tiroir-tools div#types-showed div.span-cb-type-showed {

}
section#tiroir-tools div#types-showed div.span-cb-type-showed label {
  margin-left:0.3em;
}
